#actor-changer {
    width: fit-content!important;
    height: fit-content!important;
}
#actor-changer .window-content {
    flex-direction: row;
    padding: 0;
}
#actor-changer .window-content .actor-frame {
    display: flex;
    height: 300px;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    transition: 0.3s all;
}
#actor-changer .window-content .actor-frame:hover {
    background-size: cover;
    background-position: center;
    filter: none;
}
#actor-changer .window-content .actor-frame h4 {
    font-size: 32px;
    margin: auto auto 30px;
}

#actor-selector {
    width: fit-content!important;
    height: fit-content!important;
}
#actor-selector .window-content {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 120px 330px;
    padding: 0;
    background: none;
    color: white;
}
#actor-selector #actor-favorite {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
#actor-selector #actor-favorite .actor-icon {
    width: 80px;
    height: 100px;
    padding: 5px;
    margin: 0 5px 0 0;
    background: var(--background);
    border-radius: 10px;
}
#actor-selector #actor-favorite .actor-icon img {
    border-radius: 8px;
}
#actor-selector #actor-favorite .actor-icon h4 {
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
#actor-selector #actor-folder {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
#actor-selector #actor-folder li {
    flex: 1;
    display: flex;
    list-style: none;
    height: 24px;
    padding: 0 10px;
}
#actor-selector #actor-folder li.active {
    text-shadow: 0 0 10px var(--highlight);
}
#actor-selector #actor-folder li > a {
    flex: 1;
    text-align: center;
    line-height: 24px;
}
#actor-selector .actor-grid {
    display: none;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 100px;
    grid-gap: 5px;
    overflow-y: scroll;
}
#actor-selector .actor-grid.active {
    display: grid;
}
#actor-selector .actor-grid .actor-icon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 20px;
    background: var(--background);
    border-radius: 10px;
}
#actor-selector .actor-grid .actor-icon input {
    display: none;
}
#actor-selector .actor-grid .actor-icon input + label {
    grid-column: 1/2;
    grid-row: 1/2;
    color: grey;
    justify-self: end;
    margin: 5px 5px 0 0;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 1;
}
#actor-selector .actor-grid .actor-icon input:checked + label {
    color: white;
    text-shadow: 0 0 10px var(--highlight);
}
#actor-selector .actor-grid .actor-icon img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70px;
    object-fit: cover;
    border-radius: 8px;
    margin: 5px;
}
#actor-selector .actor-grid .actor-icon h4 {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/*QUEST*/

#quest {
}
#quest .window-content {
    padding: 0;
    margin: 10px;
    flex-direction: row;
}
#quest #quest-list {
    flex: 2;
    height: 100%;
    overflow-y: scroll;
}
#quest #quest-list::-webkit-scrollbar-track {
    display: none;
}
#quest #quest-list h3 {
    font-size: 12px;
    margin: 5px 0;
    padding: 2px 0;
    text-align: center;
    background: var(--background);
}
#quest #quest-list ul {
    list-style: none;
    padding: 0;
}
#quest #quest-list ul > li {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    margin: 0 0 2px;
}
#quest #quest-list ul > li > a {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#quest .quest {
    flex: 5;
    display: none;
    padding: 10px;
    font-size: 12px;
}
#quest .quest.active {
    display: block;
}
#quest .quest h3 {
    text-align: center;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #00000000, var(--text-color), #00000000);
    border-image-slice: 1;
}

/*DISPLAY REMOTE*/

#display-remote .window-content > div {
    display: flex;
    align-items: center;
}
#display-remote .window-content > div a {
    flex: 1;
    height: 18px;
    font-size: 14px;
    text-align: center;
}
#display-remote .window-content > div a i {
    width: 18px;
    line-height: 18px;
    margin: 0 5px 0 0;
}
#display-remote .window-content > div > input {
    flex: 2;
    height: 18px;
    margin: 0 5px;
    font-size: 14px;
}
#display-remote .window-content > div > div {
    flex: 1;
    display: flex;
}

.setting-container {
    background: var(--background-bright);
    padding: 20px 10px;
    margin: 10px 5px;
}
.setting-container > p {
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--text-tooltip);
}
.setting-container > div {
    display: flex;
    align-items: center;
}
.setting-container > div > h4 {
    flex: 1;
}
.setting-container > div > input {
    flex: 3;
    border-bottom: 1px dashed var(--text-tooltip);
}
.setting-container > div > select {
    flex: 2;
    margin: 0 20px 0 0;
    border-bottom: 1px dashed var(--text-tooltip);
}
