#chat-log {
    flex: 1;
    height: unset;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: none;
    padding: 5px 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    --font-size: 14px;
}
#chat-log::-webkit-scrollbar {
    display: none;
}
#chat-log .chat-message.message {
    flex: none;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    color: var(--text-color);
    background: var(--background);
    padding: 0 5px;
    border: 0;
    border-radius: 0;
    margin: 2px 0;
}
#chat-log .chat-message.message.whisper {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.4;
}
#chat-log .chat-message.message::before {
    content: none;
}
#chat-log .chat-message .message-header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 5px;
    margin: 5px 0;
    z-index: 1;
}
#chat-log .chat-message .message-header img {
    display: block;
    width: 36px;
    height: 36px;
    flex: none;
    margin: 0;
    border: 0!important;
    border-radius: 5px!important;
}
#chat-log .chat-message .message-header .message-sender{
    flex: 1 1 auto;
    min-width: 0;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-heading);
    font-family: var(--mingjo-bold);
    font-weight: 600;
    font-size: calc(var(--font-size) + 2px);
    line-height: 20px;
    margin: 0;
    overflow: hidden;
}
#chat-log .chat-message .message-header .message-sender .illandril-chat-enhancements--playerName,
#chat-log .chat-message .message-header .message-sender .illandril-chat-enhancements--player-name,
#chat-log .chat-message .message-header .message-sender .message-user {
    font-size: calc(var(--font-size) - 4px);
    line-height: 12px;
    color: #aaaaaa;
}
#chat-log .chat-message .message-header .flavor-text,
#chat-log .chat-message .message-header .whisper-to {
    flex: none;
    width: 100%;
    height: 18px;
    font-size: calc(var(--font-size) - 2px);
}
#chat-log .chat-message .message-header .message-metadata {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    flex: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    font-family: var(--gothic-regular);
    color: var(--text-color);
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
    white-space: nowrap;
    transition: all 0.3s;
    opacity: 0;
    z-index: 3;
}
#chat-log .chat-message:hover .message-header .message-metadata:hover {
    opacity: 1;
}
#chat-log .chat-message .message-header .message-metadata .hovertext {
    display: flex;
}
#chat-log .chat-message .message-header .message-metadata .hovertext:before {
    display: none;
}
#chat-log .chat-message .message-header .message-metadata .message-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}
#chat-log .chat-message .message-header .message-metadata .message-times time {
    height: 9px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: calc(var(--font-size) - 5px);
}
#chat-log .chat-message .message-header .message-metadata .message-timestamp,
#chat-log .chat-message .message-header .message-metadata .message-timestamps {
    white-space: nowrap;
    margin: 0;
}
#chat-log .chat-message .message-header .message-metadata > a {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-size) + 2px);
    background: none;
}
#chat-log .chat-message .message-content {
    position: relative;
    font-family: var(--gothic-regular);
    font-size: var(--font-size);
    text-indent: 0;
    line-height: 140%;
    word-break: break-all;
    color: var(--text-color);
}
#chat-log .chat-message .message-content img{
    border: none;
    max-width: 1200px;
    max-height: 800px;
    object-fit: contain;
}
#chat-log .chat-message .message-content img[src=""] {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}
#chat-log .chat-message .message-content .dice-roll .dice-result .dice-formula,
#chat-log .chat-message .message-content .dice-roll .dice-result .dice-total {
    border: 0;
    box-shadow: none;
}
#chat-log .chat-message .message-content .dice-roll .dice-result .dice-formula .dice > label,
#chat-log .chat-message .message-content .dice-roll .dice-result .dice-formula .modifier > label,
#chat-log .chat-message .message-content .dice-roll .dice-result .dice-total .dice > label {
    color: white!important;
    font-size: calc(var(--font-size) + 2px);
    font-weight: 600;
    white-space: nowrap;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#chat-log .chat-message .message-content .entity-link,
#chat-log .chat-message .message-content .content-link,
#chat-log .chat-message .message-content .inline-roll {
    border: 0;
    background:none;
}
#chat-log .chat-message .message-content .inline-roll .dice-tooltip {
    background: var(--background);
    border: 0;
    box-shadow: none;
}
#chat-log .chat-message .message-content .df-edited {
    display: none;
}
#chat-log .chat-message.added {
}
#chat-log .chat-message.added .message-header {
    flex: none;
    height: 0;
    justify-content: flex-end;
    padding: 0;
    border: 0;
    margin: 0;
}
#chat-log .chat-message.added .message-header img {
    display: none;
}
#chat-log .chat-message.added .message-header .message-sender {
    display: none;
}
#chat-log .chat-message.added .message-header .message-metadata {
    height: 18px;
}
#chat-log .chat-message.added .message-content .chat-portrait-flexrow {
    display: none;
}

/*Description*/

#chat-log .chat-message.description,
#chat-log .chat-message.narrator-chat.narrator-description {
    padding: 3px;
    border: 0;
    text-align: center;
    background: transparent;
}
#chat-log .chat-message.description .message-header,
#chat-log .chat-message.narrator-chat.narrator-description .message-header {
    display: none;
}
#chat-log .chat-message.description .message-content,
#chat-log .chat-message.narrator-chat.narrator-description .message-content {
    display: flex;
    justify-content: center;
    min-height: 20px;
    font-family: var(--mingjo-regular);
    font-style: italic;
    font-weight: 600;
    color: white;
    line-height: 30px;
    text-shadow: 0 0 10px var(--background);
}
#chat-log .chat-message.description .message-content b,
#chat-log .chat-message.description .message-content strong,
#chat-log .chat-message.narrator-chat.narrator-description .message-content b,
#chat-log .chat-message.narrator-chat.narrator-description .message-content strong {
    font-family: var(--mingjo-regular);
}
#chat-log .chat-message.description .message-content img,
#chat-log .chat-message.narrator-chat.narrator-description .message-content img {
    max-width: 100%;
    margin: auto;
}

/*each system*/

/*archmage*/
#chat-log .archmage.chat-card .card-header h3 {
    font-size: 16px;
    background: darkgray;
}
#chat-log .archmage.chat-card .card-prop {
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0;
}
#chat-log .archmage.chat-card .tag--feat {
    font-size: 12px;
    line-height: 16px;
    background: transparent;
    padding: 5px;
    border-top: 1px solid #555555;
    margin: 5px 0;
}
#chat-log .archmage.chat-card .tag--feat > strong,
#chat-log .archmage.chat-card .tag--feat .description,
#chat-log .archmage.chat-card .tag--feat .description p {
    margin: 0;
}

/*swade*/
#chat-log .swade.chat-card .card-header {
    height: 36px;
    align-items: center;
    text-align: center;
    padding: 0;
    border: 0;
    border-radius: 3px 3px 0 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
}
#chat-log .swade.chat-card .card-header h3 {
    flex: 1;
    display: flex;
    align-items: center;
    height: 36px;
    font-family: var(--mingjo-bold);
    color: white;
    pointer-events: none;
}
#chat-log .swade.chat-card .card-header > img,
#chat-log .swade.chat-card .card-header h3 img {
    display: none;
}
#chat-log .swade.chat-card .card-header h3 a {
    flex: 1;
    text-align: center;
    pointer-events: none;
}
#chat-log .swade.chat-card .pp-counter {
    display: none;
}
#chat-log .swade.chat-card .card-content {
    display: block!important;
    margin: 0;
}
#chat-log .swade.chat-card .card-buttons {
    display: flex;
    width: 100%;
    align-items: stretch;
    gap: 2px;
    margin: 2px 0;
}
#chat-log .swade.chat-card .card-buttons .actions-subheading {
    flex: 1;
    height: 24px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
}
#chat-log .swade.chat-card .card-buttons .actions-subheading > i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px 0 0 ;
}
#chat-log .swade.chat-card .card-buttons > button {
    flex: 1;
    height: 24px;
    color: black;
    background-color: gainsboro;
    border-radius: 3px;
    margin: 0;
}
#chat-log .swade.chat-card .card-buttons > button:hover {
    text-shadow: none;
    background-color: white;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span {
    width: 100%;
    gap: 2px;
    color: black;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span {
    height: 24px;
    align-items: center;
    line-height: normal;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span:first-child {
    height: 24px;
    color: white;
    padding: 0 0 0 5px;
    border-radius: 3px;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span:first-child::before {
    content: "\f0e7";
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "FontAwesome", serif;
    margin: 0 3px 0 0;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span:nth-child(2) {
    gap: 2px;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span > label {
    flex: none;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span > input {
    flex: none;
    width: calc(50% + 3px);
    height: 24px;
    color: black;
    font-size: 12px;
    background: gainsboro;
    padding: 1px 6px;
    border-radius: 3px;
    margin: 0 0 0 auto;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span > button {
    color: black;
    background: gainsboro;
    border-radius: 3px;
    margin: 0;
}
#chat-log .swade.chat-card .card-buttons.pp-controls > span > span > button:hover {
    text-shadow: none;
    background-color: white;
}
#chat-log .swade.chat-card .card-footer {
    display: none;
}

/*fateX*/
.chat-message .fatex-headline {
    width: 90%;
}
.chat-message .fatex-headline h3 {
    justify-content: center;
}
.chat-message .fatex-headline::before {
    border-top: 16px solid var(--background);
    border-right: 16px solid transparent;
}
.chat-message .fatex-headline::after {
    border-bottom: 16px solid var(--background);
    border-left: 16px solid transparent;
}
.chat-message .fatex-description {
    width: 90%;
    font-size: 10px;
    text-align: left;
    line-height: 16px;
    margin: 0 auto;
}
.chat-message .fatex-description p {
    margin: 3px 0;
}

/*dnd5e*/
.system-dnd5e #chat-log .chat-message .message-header .message-sender {
    flex-direction: row;
    gap: 5px;
}
.system-dnd5e #chat-log .chat-message .message-header .message-sender .avatar {
    width: 36px;
    height: 36px;
    flex: none;
    margin: 0;
    border: 0 !important;
    border-radius: 5px !important;
}
.system-dnd5e #chat-log .chat-message .message-header .message-sender .avatar img {
    display: block;
    width: 100%;
    height: 100%;
}
.system-dnd5e #chat-log .chat-message .message-header .message-sender .name-stacked {
    flex: 1 1 auto;
    min-width: 0;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.system-dnd5e #chat-log .chat-message .message-header .message-sender .title {
    color: var(--text-heading);
    font-family: var(--mingjo-bold);
    font-weight: 600;
    font-size: calc(var(--font-size) + 2px);
    line-height: 20px;
}
.system-dnd5e #chat-log .chat-message .message-header .message-sender .subtitle {
    font-size: calc(var(--font-size) - 4px);
    line-height: 12px;
    color: #aaaaaa;
}