#mrkb-hud {
    position: absolute;
    bottom: 0;
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    font-family: 'GmarketSansMedium';
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content(70px) fit-content(110px) 1fr fit-content(90px) fit-content(64px);
    flex-direction: column;
    pointer-events: none;
    z-index: 0;
}
#mrkb-hud > div {
    grid-column: 1/2;
}
#mrkb-hud .app {
    width: unset;
    height: unset;
    position: initial;
    color: var(--text-color);
    background: none;
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s;
}
#mrkb-hud .app .window-header {
    display: none;
}
#mrkb-hud .app .window-content {
    padding: 0;
    overflow: hidden;
}
#mrkb-hud progress::-webkit-progress-value {
    transition: all 0.5s ;
}

/*─────────────────────────HEAD─────────────────────────*/

#mrkb-hud #mrkb-head {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

/*─────────────────────────HEAD NOTIFICATION─────────────────────────*/

#mrkb-hud #mrkb-head #mrkb-notification {
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: white;
    background: var(--background);
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-head #mrkb-notification.hidden {
    height: 0;
}
#mrkb-hud #mrkb-head #mrkb-notification a {
    height: 30px;
    width: 30px;
    text-align: center;
    pointer-events: all;
}
#mrkb-hud #mrkb-head #mrkb-notification a > i {
    line-height: 30px;
}
#mrkb-hud #mrkb-head #mrkb-notification #notify {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*─────────────────────────HEAD BOSS─────────────────────────*/

#mrkb-hud #mrkb-head #mrkb-boss {
    display: grid;
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-head #mrkb-boss.hidden {
    height: 0;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar {
    width: 100%;
    height: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    -webkit-appearance: none;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar::-webkit-progress-bar {
    background: var(--background);
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar::-webkit-progress-value {
    height: calc(100% - 6px);
    margin: 0 auto;
    background: linear-gradient(to right,
        var(--background) 3px,
        #aa0000aa 50px calc(100% - 50px),
        var(--background) calc(100% - 3px)
    ), url("/modules/mrkb-ui/src/healthbar.gif");
    background-position: center;
    position: relative;
    top: 3px;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 0;
    justify-self: center;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe #bossprofile {
    display: flex;
    width: 80px;
    height: 80px;
    margin: -20px 0 0 0;
    border: 2px solid var(--background);
    background: var(--background);
    transform: rotate(45deg);
    overflow: hidden;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe #bossprofile img {
    transform: rotate(-45deg) scale(1.5);
}
#mrkb-hud #mrkb-head #mrkb-boss #bosstitle {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    opacity: 0.5;
    z-index: 1;
}
#mrkb-hud #mrkb-head #mrkb-boss #bosstitle h3 {
    color: white;
    flex: 1;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    padding: 0 20px;
}

/*─────────────────────────TOP─────────────────────────*/

#mrkb-hud #mrkb-top {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px fit-content(70px);
    margin: 10px 10px 0;
}

/*─────────────────────────TOP OPENER─────────────────────────*/

#mrkb-hud #mrkb-top #top-openers {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle {
    width: 30px;
    height: 30px;
    color: var(--text-color);
    text-align: center;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    justify-self: left;
    background: linear-gradient(to bottom, black 75%, white 75%);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    pointer-events: all;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle:hover {
    box-shadow: 0 0 5px var(--highlight);
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.fold {
    background: #00000022;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.disabled {
    pointer-events: none;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle > i {
    line-height: 30px;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.disabled > i {
    opacity: 0.5;
}
#mrkb-hud #mrkb-top #top-openers #right-opener {
    flex: none;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open {
    height: 30px;
    width: 30px;
    display: flex;
    border: 3px solid white;
    background: var(--background);
    transform: rotate(45deg) scale(0.7);
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open a,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open a,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open a {
    display: flex;
    font-size: 12px;
    color: white;
    text-align: center;
    transform: rotate(-45deg) scale(1.5);
    pointer-events: all;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open a > i,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open a > i {
    line-height: 30px;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open.hidden,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open.hidden,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open.hidden {
    display: none;
}

/*─────────────────────────TOP CHARACTER─────────────────────────*/

#mrkb-hud #mrkb-top #character-container {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 80px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 15px 25px 15px 15px 10px;
    overflow: hidden;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-top #character-container.hidden {
    height: 0;
}
#mrkb-hud #mrkb-top #character-container #charaprofile {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/4;
    width: 80px;
    height: 80px;
    background-color: var(--background);
    border: 5px solid transparent;
    border-radius: 0;
    transform: rotateZ(45deg) scale(0.7);
    overflow: hidden;
    background-image: linear-gradient(var(--background), var(--background)),
        linear-gradient(to bottom right, transparent 0px 30%, white 30% 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #charaprofile img {
    transform: scale(1.5) rotate(-45deg);
}
#mrkb-hud #mrkb-top #character-container #namespace {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: fit-content;
    height: 100%;
}
#mrkb-hud #mrkb-top #character-container #namespace #profilename {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
    line-height: 15px;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    width: calc(100% + 25px);
    height: 100%;
    margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar::-webkit-progress-bar {
    background: linear-gradient(45deg,
        var(--background) calc(100% - 20px),
        transparent calc(100% - 20px)
    );
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar::-webkit-progress-value {
    height: 19px;
    background: linear-gradient(45deg,
        var(--health-color) calc(100% - 21px),
        transparent calc(100% - 21px)
    );
    position: relative;
    top: 3px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthnumber {
    width: 0;
    font-size: 24px;
    font-weight: 600;
    font-family: fantasy;
    line-height: 25px;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    width: calc(100% + 25px);
    height: 100%;
    margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar {
    width: 85%;
    height: 100%;
    -webkit-appearance: none;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar::-webkit-progress-bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,
        var(--background) calc(100% - 20px),
        transparent calc(100% - 20px)
    );
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar::-webkit-progress-value {
    height: 9px;
    background: linear-gradient(135deg,
        var(--mana-color) calc(100% - 21px),
        transparent calc(100% - 21px)
    );
    position: relative;
    top: 3px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #mananumber {
    width: 0;
    font-size: 12px;
    font-weight: 600;
    font-family: fantasy;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    width: calc(100% + 25px);
    height: 100%;
    margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info {
    width: fit-content;
    height: 100%;
    display: flex;
    color: var(--text-color);
    font-size: 10px;
    line-height: 15px;
    padding: 0 20px;
    margin: 0 -5px 0 -5px;
    background: linear-gradient(135deg,
        transparent 10px,
        var(--background) 10px calc(100% - 10px),
        transparent calc(100% - 10px)
    );
    white-space: nowrap;
    pointer-events: all;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info > i {
    line-height: 11px;
    margin: 0;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info > i:first-child {
    margin: 0 3px 0 0;
}

/*─────────────────────────TOP BUTTONS─────────────────────────*/

#mrkb-hud #mrkb-top #mrkb-buttons {
    grid-column: 1/2;
    grid-row: 1/4;
    width: fit-content;
    margin: 70px 0 0 0;
    align-self: end;
    display: flex;
    pointer-events: all;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey {
    width: 30px;
    height: 30px;
    line-height: 36px;
    flex: none;
    color: var(--text-color);
    font-size: 16px;
    background: #00000022;
    border: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0 5px 0 0;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey:hover {
    color: white;
    text-shadow: 0 0 10px var(--highlight);
    box-shadow: 0 0 5px var(--highlight);
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey > i {
    line-height: 30px;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey#toggleAllies {
    margin: 0 25px 0 0;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-top #mrkb-buttons.moved {
    margin: 0 0 0 35px;
}
#mrkb-hud #mrkb-top #mrkb-buttons.moved .functionkey#toggleAllies{
    margin: 0 5px 0 0;
}

/*─────────────────────────MIDDLE─────────────────────────*/

#mrkb-hud #mrkb-middle {
    grid-row: 3/4;
    flex: 1;
    display: flex;
    margin: 0 10px;
}

/*─────────────────────────MIDDLE LEFT─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-left {
    flex: none;
    display: flex;
    width: 250px;
    height: 100%;
}
#mrkb-hud #mrkb-middle #mrkb-left.pl #allies,
#mrkb-hud #mrkb-middle #mrkb-left.char #players,
#mrkb-hud #mrkb-middle #mrkb-left.closed #allies,
#mrkb-hud #mrkb-middle #mrkb-left.closed #players {
    width: 0;
}

/*─────────────────────────MIDDLE LEFT ALLIES─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-left #allies {
    width: 100%;
    overflow: hidden;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container {
    display: grid;
    grid-template-columns: 50px minmax(0, 200px);
    grid-template-rows: 15px 15px 10px 10px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .charaprofile {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: var(--background);
    border: 3px solid transparent;
    border-radius: 0;
    transform: rotateZ(45deg) scale(0.7);
    overflow: hidden;
    background-image: linear-gradient(var(--background), var(--background)),
        linear-gradient(to bottom right, transparent 0px 30%, white 30% 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: 1;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .charaprofile img{
    transform: scale(1.5) rotate(-45deg);
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .namespace {
    grid-column: 2/3;
    grid-row: 2/3;
    width: calc(100% + 15px);
    height: 100%;
    opacity: 0.75;
    z-index: 3;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .namespace .profilename {
    color: white;
    font-weight: 600;
    font-size: 10px;
    text-align: right;
    margin: 0 50px 0 0;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-health {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    width: calc(100% + 15px);
    height: 100%;
    margin: 0 0 0 -15px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-mana {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    width: calc(100% + 15px);
    height: 100%;
    margin: 0 0 0 -15px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-health .healthbar {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-mana .manabar {
    width: calc(100% - 10px);
    height: 100%;
    -webkit-appearance: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-health .healthbar::-webkit-progress-bar {
    background: transparent;
    background: linear-gradient(135deg,
        var(--background) calc(100% - 15px),
        transparent calc(100% - 15px)
    );
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-health .healthbar::-webkit-progress-value {
    height: 11px;
    background: transparent;
    background: linear-gradient(135deg,
        var(--health-color) calc(100% - 16px),
        transparent calc(100% - 16px)
    );
    position: relative;
    top: 2px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-mana .manabar::-webkit-progress-bar {
    background: transparent;
    background: linear-gradient(135deg,
        var(--background) calc(100% - 15px),
        transparent calc(100% - 15px)
    );
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-mana .manabar::-webkit-progress-value {
    height: 6px;
    background: transparent;
    background-image: linear-gradient(135deg,
        var(--mana-color) calc(100% - 16px),
        transparent calc(100% - 16px)
    );
    position: relative;
    top: 2px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-health .healthnumber {
    width: 0;
    font-size: 14px;
    font-weight: 600;
    font-family: fantasy;
    line-height: 15px;
    margin: 0;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 2;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container .mrkb-mana .mananumber {
    width: 0;
    font-size: 10px;
    font-weight: 600;
    font-family: fantasy;
    line-height: 10px;
    margin: 0;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 2;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container:nth-child(2n)  {
    margin: -9px 0 -9px 14px;
}
#mrkb-hud #mrkb-middle #mrkb-left #allies .allies-container:last-child {
    margin-bottom: 0;
}

/*─────────────────────────MIDDLE LEFT PLAYERS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-left #players {
    font-size: 12px;
    width: 100%;
    height: 100%;
}
#mrkb-hud #mrkb-middle #mrkb-left #players > h3 {
    display: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr fit-content(70px);
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player.context {
    margin: 0;
    border: 0;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-avatar {
    flex: none;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50px;
    height: 50px;
    background: white;
    border: 3px solid transparent;
    transform: rotate(45deg) scale(0.7);
    overflow: hidden;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-avatar img {
	width: 100%;
	height: 100%;
    object-fit: cover;
    transform: rotate(-45deg) scale(1.5);
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-active {
    flex: none;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 50px;
    width: 50px;
    margin: 0;
    background: #000000aa!important;
    border: 3px solid black!important;
    border-radius: 0;
    transform: rotate(45deg) scale(0.7);
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-active.active{
    box-shadow: none;
    background: transparent!important;
    border-color: white!important;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-name {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 30px;
    margin: 0 0 0 -20px;
    background: linear-gradient(135deg,
        var(--background) calc(100% - 15px),
        transparent calc(100% - 15px)
    );
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .bennies-count {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 60px;
    color: var(--background);
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 -20px;
    background: linear-gradient(135deg,
        transparent 15px,
        var(--text-color) 15px calc(100% - 15px),
        transparent calc(100% - 15px) 
    );
    text-shadow: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .bennies-count:hover {
    filter: none;
    color: white;
    background: linear-gradient(135deg,
        transparent 15px,
        var(--background) 15px calc(100% - 15px),
        transparent calc(100% - 15px) 
    );
    text-shadow: 0 0 10px var(--highlight);
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player:nth-child(2n) {
    width: calc(100% - 14px);
    margin: -9px 0 -9px 14px;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player:last-child {
    border-bottom: 0;
}
/*─────────────────────────MIDDLE CENTER─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center {
    flex: 1;
    min-width: 0;
    display: grid;
}

/*─────────────────────────MIDDLE CENTER LOUDSPEAKER─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #loud-speaker {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

/*─────────────────────────MIDDLE CENTER NOTIFICATIONS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #notifications {
    position: initial;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column-reverse;
    overflow: hidden;
    pointer-events: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification {
    width: 100%;
    height: fit-content;
    background:none;
    box-shadow:none;
    backdrop-filter:none;
    border:none;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    pointer-events: all;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification:before {
    display: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification .close {
    display: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup img {
    width: 200px;
    margin: 0 auto 10px;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup h2 {
    height: 30px;
}

/*─────────────────────────MIDDLE CENTER NOTIFICATIONS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #turn-notice {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    height: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice h3 {
    width: 100%;
    height: 48px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    line-height: 40px;
    margin: 0 0 -40px 0;
    z-index: 1;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice h3#turn-name {
    text-align: right;
    margin: -40px 5px 0 0;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice div {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    overflow: hidden;
    transform: rotate(45deg) scale(0.7);
    transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice div #turn-img {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.5);
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice.hidden {
    height: 0;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice.hidden div {
    transform: rotate(-410deg) scale(0);
}
    

/*─────────────────────────MIDDLE RIGHT─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-right {
    flex: none;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    grid-gap: 10px;
}

/*─────────────────────────MIDDLE RIGHT CUSTOMRESOURCE─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-right #custom-resource {
    width: 100%;
    height: 80px;
    background: linear-gradient(45deg,
        var(--background) 70%,
        var(--background-bright) 70%
    );
    border-width: 10px 2px;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: all;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource.hidden {
    height: 0;
    border-width: 0 2px;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrcname {
    flex: 1;
    height: 30px;
    display: flex;
    padding: 5px;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrcname input {
    font-size: 14px;
    flex: 1;
    height: 20px;
    text-align: center;
    background: none;
    margin: 0 0 0 20px;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrcname input:focus {
    box-shadow: none;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrcname > a {
    flex: none;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrcname > a > i {
    transform: rotate(-45deg);
    line-height: 20px;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrccontrol {
    display: flex;
    height: 30px;
    padding: 5px;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrccontrol #resrc {
    flex: 1;
    height: 20px;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrccontrol #resrc h3 {
    font-size: 16px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrccontrol > a {
    flex: 1;
    height: 20px;
    text-align: center;
    font-weight: 600;
}
#mrkb-hud #mrkb-middle #mrkb-right #custom-resource #resrccontrol > a > i {
    line-height: 20px;
}

/*─────────────────────────MIDDLE RIGHT ITEMCASTER─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-right #item-caster {
    width: 100%;
    height: var(--caster-height);
    background: linear-gradient(45deg,
        var(--background) 70%,
        transparent 70%
    ), linear-gradient(to bottom,
        var(--background) 32px,
        var(--background-bright) 32px calc(100% - 32px),
        var(--background)calc(100% - 32px)
    );
    border-width: 10px 2px;
    border-style: solid;
    border-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 32px;
    overflow: hidden;
    transition: all 0.3s;
    pointer-events: all;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster:before {
    content: "▶";
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    justify-self: left;
    align-self: center;
    margin: 36px 0 0 -4px;
    text-shadow: 0 0 5px black;
    position: relative;
    z-index: 10;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster.hidden {
    height: 0;
    border-width: 0 2px;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 32px 1fr;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab.active {
    opacity: 1;
    pointer-events: all;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .caster-slot {
    width: 100%;
    display: flex;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .caster-slot .slot-arrow {
    width: 20px;
    height: 32px;
    text-align: center;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .caster-slot .slot-arrow i {
    line-height: 32px;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .caster-slot h3 {
    flex: 1;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;;
    height: 100%;
    overflow: scroll;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: auto 0;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    z-index: 3;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab::-webkit-scrollbar {
    display: none;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items {
    display: flex;
    margin: 5px 0;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items h3 {
    flex: 1;
    height: 20px;
    line-height: 20px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items:first-Child {
    height: calc(50% + 10px);
    align-items: end;
    margin: 0 0 5px 0;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items:last-Child {
    height: calc(50% + 10px);
    align-items: start;
    margin: 5px 0 0 0;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster .caster-tab .item-tab .cast-items:first-Child:last-Child {
    height: 100%;
    align-items: center;
    margin: 0;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster #caster-overlay {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: calc(100% - 32px);
    background: linear-gradient(to bottom,
        var(--background),
        transparent calc(50% - 13px),
        #fff3 calc(50% - 13px) calc(50% + 13px),
        transparent calc(50% + 13px),
        var(--background)
    );
    align-self: end;
    pointer-events: none;
    z-index: 4;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster #caster-menu {
    flex: none;
    height: 100%;
    display: flex;
    background: var(--background);
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster #caster-menu a {
    flex: 1;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
}
#mrkb-hud #mrkb-middle #mrkb-right #item-caster #caster-menu a > i {
    transform: rotate(-45deg);
    line-height: 32px;
}

/*─────────────────────────DISPLAY─────────────────────────*/

#mrkb-hud #mrkb-display {
    grid-row: 2/-3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    text-align: center;
    opacity: 1;
    z-index: -1;
    transition: 0.3s all;
}
#mrkb-hud #mrkb-display > * {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border: 0;
    margin: auto;
    opacity: 1;
    object-position: center;
    pointer-events: all;
    transition: 0.3s all;
}
#mrkb-hud #mrkb-display > #display-youtube,
#mrkb-hud #mrkb-display > #display-embed,
#mrkb-hud #mrkb-display > #display-image-background,
#mrkb-hud #mrkb-display > #display-video-background {
    object-fit: cover;
}
#mrkb-hud #mrkb-display > #display-image,
#mrkb-hud #mrkb-display > #display-video {
    object-fit: contain;
}
#mrkb-hud #mrkb-display > #display-overlay,
#mrkb-hud #mrkb-display > #display-flash {
    object-fit: cover;
    mix-blend-mode: screen;
}
#mrkb-hud #mrkb-display > #display-image-background,
#mrkb-hud #mrkb-display > #display-video-background {
    filter: brightness(0.8) contrast(0.8) blur(3px);
    transform: scale(1.5);
    z-index: -1;
}
#mrkb-hud #mrkb-display > *.hidden {
    opacity: 0;
    pointer-events: none;
}
#mrkb-hud #mrkb-display.trans {
    opacity: 0.2;
}
#mrkb-hud #mrkb-display.trans > * {
    pointer-events: none;
}

/*─────────────────────────SHOP─────────────────────────*/

#mrkb-hud #mrkb-shop {
    grid-row: 2/-2;
    font-family: "GmarketSansMedium";
    width: 100%;
    height: calc(100% - 70px);
    margin: 0;
    display: flex;
    align-self: end;
    background: linear-gradient(15deg,
        var(--background) 230px,
        transparent 230px
    );
    overflow: hidden;
}
#mrkb-hud[shop="hidden"] #mrkb-shop {
    height: 0;
}
#mrkb-hud #mrkb-shop #merchant {
    width: 420px;
    flex: none;
    display: grid;
    grid-template-rows: 1fr 15px 15px 100px;
    margin: 0 10px;
}
#mrkb-hud #mrkb-shop #merchant #merchant-npc {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: end;
    width: 200px;
    border-radius: 10px;
}
#mrkb-hud #mrkb-shop #merchant #merchant-name {
    grid-column: 1/2;
    grid-row: 2/4;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--background) 50%, var(--background-bright) 50%);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    z-index: 1;
}
#mrkb-hud #mrkb-shop #merchant #merchant-dialog {
    grid-column: 1/2;
    grid-row: 3/5;
    background: linear-gradient(45deg, var(--text-color) 85%, white 85%);
    padding: 20px;
    color: var(--background);
    border-radius: 10px;
}
#mrkb-hud #mrkb-shop #merchant #merchant-button {
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: end;
    display: flex;
    height: 40px;
    color: var(--background);
    border-radius: 0 0 10px 10px;
    pointer-events: all;
}
#mrkb-hud #mrkb-shop #merchant #merchant-button button {
    background: var(--background);
    color: var(--text-color);
    border: 0;
    border-radius: 10px;
    margin: 5px;
}
#mrkb-hud #mrkb-shop #merchant #merchant-confirm.hidden,
#mrkb-hud #mrkb-shop #merchant #merchant-button.hidden {
    display: none;
}
#mrkb-hud #mrkb-shop #shop-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 0;
    margin: 10px 0 0;
    box-shadow: 0 0 10px var(--background);
}
#mrkb-hud #mrkb-shop #shop-container #shop-category {
    flex: none;
    height: 32px;
    display: flex;
    align-items: end;
    pointer-events: all;
}
#mrkb-hud #mrkb-shop #shop-container #shop-category .tab-category {
    flex: 1;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    padding: 0 5px;
    overflow: hidden;
    background: var(--background);
}
#mrkb-hud #mrkb-shop #shop-container #shop-category .tab-category:first-child {
    border-radius: 8px 0 0 0;
}
#mrkb-hud #mrkb-shop #shop-container #shop-category .tab-category.active {
    color: black;
    background: white;
}
#mrkb-hud #mrkb-shop #shop-container .shop {
    flex: 1;
    background: linear-gradient(45deg, var(--background) 70%, var(--background-bright) 70%);
    border: 2px solid white;
    border-bottom: 0;
    overflow-y: hidden;
    pointer-events: all;
}
#mrkb-hud #mrkb-shop #shop-container .shop h3{
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
    color: black;
    background: white;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist {
    padding: 12px;
    height: calc(100% - 30px);
    overflow-y: scroll;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist h4 {
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    font-weight: 600;
    margin: 10px 0 0 0;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist h4:first-child {
    margin: 0;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer {
    padding: 2px 5px;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer:hover {
    background: #fff3;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader {
    display: flex;
    height: 20px;
    line-height: 20px;
    align-items: center;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h5 {
    flex: 1;
    font-size: 14px;
    display: flex;
    margin: 0;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h5 i {
    width: 20px;
    line-height: 20px;
    text-align: center;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h5 img {
    width: 20px;
    margin-right: 10px;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h6 {
    flex: none;
    width: 50px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px;
    white-space: nowrap;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h6.money {
    width: 100px;
    padding: 0 5px 0 0;
    border-right: 2px solid;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader a {
    flex: none;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px;
    white-space: nowrap;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader h6 > i,
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopheader a > i {
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 5px 0 0;
}
#mrkb-hud #mrkb-shop #shop-container .shop .shoplist .shopcontainer .shopdesc {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom {
    flex: none;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: var(--background);
    border: 2px solid white;
    border-top: 0;
    pointer-events: all;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet {
    display: flex;
    height: 100%;
    color: var(--background);
    background: white;
    border-top: 2px solid white;
    border-radius: 0 10px 0 0;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-profile,
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-money {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-right: 2px solid var(--background);
    pointer-events: all;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-profile img {
    width: 23px;
    height: 23px;
    object-fit: cover;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-profile h3,
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-money h3 {
    width: fit-content;
    height: 23px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
    line-height: 24px;
    text-align: center;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-profile a,
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-money i {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet #shop-profile a > i {
    line-height: 23px;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet > a {
    height: 100%;
    line-height: 23px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: black;
    padding: 0 20px;
}
#mrkb-hud #mrkb-shop #shop-container #shop-bottom #wallet > a > i {
    margin-right: 10px;
}

/*─────────────────────────CHAT─────────────────────────*/

#mrkb-hud #mrkb-chat {
    grid-row: -3/-2;
    height: 105px;
    align-content: start;
    align-self: end;
    display: grid;
    grid-template-columns: 40px 1fr 1.5fr 1fr 40px;
    grid-template-rows: 15px 15px fit-content(75px);
    margin: -15px 0 0;
    overflow: hidden;
    transition: all 0.3s;
    pointer-events: all;
}
#mrkb-hud #mrkb-chat.hidden {
    height: 0;
}
#mrkb-hud #mrkb-chat .uiname {
    grid-row: 1/3;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    color: white;
    background: linear-gradient(45deg, black 70%, var(--background) 70%);
    border-radius: 10px;
    margin: 0;
    word-break: keep-all;
    z-index: 1;
}
#mrkb-hud #mrkb-chat #chat-container {
    grid-row: 2/4;
    display: flex;
    width: calc(100vw - var(--sidebar-width));
    height: 100%;
    background: linear-gradient(to top, var(--background), var(--background-bright));
    align-self: end;
    overflow: hidden;
}
#mrkb-hud #mrkb-chat #chat-container .uichat {
    flex: 1;
    height: 65px;
    margin: 20px 20px 5px;
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-all;
}
#mrkb-hud #mrkb-chat #chat-container .uiport {
    width: 80px;
    height: 80px;
    flex: none;
    transform: rotate(45deg) scale(1.5);
    z-index: 0;
    overflow: hidden;
    position: relative;
    top: 10px;
}
#mrkb-hud #mrkb-chat #chat-container .uiport img {
    width: 80px;
    transform: rotate(-45deg);
    position: relative;
}
#mrkb-hud #mrkb-chat #ui-name-left {
    grid-column: 2/3;
}
#mrkb-hud #mrkb-chat #ui-name-right {
    grid-column: 4/5;
}
#mrkb-hud #mrkb-chat #chat-container #port-container-left {
    left: -30px;
}
#mrkb-hud #mrkb-chat #chat-container #port-container-left #ui-portrait-left {
    left: 10px;
    bottom: 15px;
}
#mrkb-hud #mrkb-chat #chat-container #port-container-right {
    left: 30px;
}
#mrkb-hud #mrkb-chat #chat-container #port-container-right #ui-portrait-right {
    left: -15px;
    bottom: -10px;
}
#mrkb-hud #mrkb-chat #ui-chat-fold {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 60px;
    height: 20px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    pointer-events: all;
    z-index: 1;
}

/*─────────────────────────BOTOPENERS─────────────────────────*/

#mrkb-hud #mrkb-openers {
    grid-row: -3/-2;
    height: 25px;
    display: grid;
    align-self: end;
    align-items: end;
    margin: -25px 0 0 0;
    overflow: hidden;
    z-index: 0;
}
#mrkb-hud #mrkb-openers #ui-chat-open,
#mrkb-hud #mrkb-openers #ui-bot-open {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30px;
    height: 25px;
    text-align: center;
    color: var(--text-color);
    font-size: 18px;
    margin: 0 auto;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    pointer-events: all;
    transition: 0.3s all;
}
#mrkb-hud #mrkb-openers #ui-chat-open:hover,
#mrkb-hud #mrkb-openers #ui-bot-open:hover {
    text-shadow: 0 0 10px var(--highlight);
}
#mrkb-hud #mrkb-openers #ui-chat-open.hidden,
#mrkb-hud #mrkb-openers #ui-bot-open.hidden {
    height: 0;
}
#mrkb-hud #mrkb-openers #ui-chat-open > i,
#mrkb-hud #mrkb-openers #ui-bot-open > i {
    line-height: 25px;
}
#mrkb-hud #mrkb-openers #ui-bot-open {
    margin: 0 0 0 auto;
}

/*─────────────────────────BOTTOM─────────────────────────*/

#mrkb-hud #mrkb-bottom {
    grid-row: -2/-1;
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 224px 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: visible;
    box-shadow: 0 0 5px black;
    z-index: 1;
    transition: all 0.3s;
}
#mrkb-hud #mrkb-bottom.hidden {
    height: 0;
    overflow: hidden;
}

/*─────────────────────────BOTTOM CONTROLS─────────────────────────*/

#mrkb-hud #mrkb-bottom #controls {
    grid-column: 1/2;
    grid-row: 1/3;
    flex-direction: column-reverse;
    align-self: self-end;
    padding: 0;
}
#mrkb-hud #mrkb-bottom #controls .control-tools {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
    background: none!important;
}
#mrkb-hud #mrkb-bottom #controls .control-tools li {
    width: auto;
    height: 32px;
    color: var(--text-color);
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    flex: 1;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    background: var(--background);
}
#mrkb-hud #mrkb-bottom #controls .control-tools li.active,
#mrkb-hud #mrkb-bottom #controls .control-tools li:hover {
    color: white;
    border: 0;
    text-shadow: 0 0 10px var(--highlight);
}

/*─────────────────────────BOTTOM HOTBAR─────────────────────────*/

#mrkb-hud #mrkb-bottom #hotbar {
    grid-column: 2/3;
    grid-row: 1/3;
    width: fit-content;
    height: 64px;
    background: var(--background);
    border: 0;
    margin: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls {
    width: 32px;
    height: 64px;
    color: var(--text-color);
    margin: 0;
    justify-content: space-around;
    border: 1px solid transparent;
    background: none;
    box-shadow: none;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls #bar-toggle {
    display: none;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls #macro-directory {
    line-height: 64px;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list {
    border: none;
    display: grid;
    grid-template-columns: repeat(5, 32px);
    grid-template-rows: 32px 32px;
    height: fit-content;
    margin: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro {
    height: 32px;
    width: 32px;
    display: grid;
    border: 1px solid transparent;
    border-radius: 0;
    background: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro .macro-icon {
    width: 30px;
    height: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro .macro-key {
    position: initial;
    width: 30px;
    height: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    padding: 2px 0 0 0;
    background: none;
    opacity: 0.4;
    z-index: 1;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro:hover {
    border: 1px solid var(--highlight);
    box-shadow: 0 0 10px var(--highlight) inset;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro:hover .macro-key {
    opacity: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls {
    height: 64px;
    min-width: 32px;
    margin: 0;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls a.page-control {
    height: 32px;
    width: 32px;
    margin: 0;
    line-height: 36px;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls span.page-number {
    display: none;
}

/*─────────────────────────BOTTOM UTILS─────────────────────────*/

#mrkb-hud #mrkb-bottom #mrkb-utils {
    display: flex;
    pointer-events: all;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: var(--background);
}
#mrkb-hud #mrkb-bottom #mrkb-utils .mrkbmenu {
    flex: 1;
    width: auto;
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 0;
}
#mrkb-hud #mrkb-bottom #mrkb-utils .mrkbmenu > i {
    margin: 0;
    height: 32px;
    line-height: 32px;
}

/*─────────────────────────BOTTOM SIDEBARTABS─────────────────────────*/

#mrkb-hud #mrkb-bottom #sidebar-tabs {
    width: 100%;
    height: 32px;
    pointer-events: all;
    position: initial;
    grid-column: 3/4;
    grid-row: 2/3;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
#mrkb-hud #mrkb-bottom #sidebar-tabs .item {
    width: auto;
    height: 32px;
    line-height: 36px;
    flex: 1;
    font-size: 18px;
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 0;
    background: var(--background);
}
#mrkb-hud #mrkb-bottom #sidebar-tabs > .item.active {
    color: white;
    text-shadow: 0 0 10px var(--highlight);
    box-shadow: none;
}
#mrkb-hud #mrkb-bottom #sidebar-tabs .collapse {
    display: none;
}