#mrkb-hud {
  position: absolute;
  bottom: 0;
  width: calc(100vw - var(--sidebar-width));
  height: 100vh;
  font-family: 'GmarketSansMedium';
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content(70px) fit-content(110px) 1fr fit-content(90px) fit-content(64px);
  flex-direction: column;
  pointer-events: none;
  z-index: 0;
}
#mrkb-hud > div {
  grid-column: 1/2;
}
#mrkb-hud .app {
  width: unset;
  height: unset;
  position: initial;
  color: var(--text-color);
  background: none;
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}
#mrkb-hud .app .window-header {
  display: none;
}
#mrkb-hud .app .window-content {
  padding: 0;
  overflow: hidden;
}
#mrkb-hud progress::-webkit-progress-value {
  transition: all 0.5s ;
}

/*─────────────────────────HEAD─────────────────────────*/

#mrkb-hud #mrkb-head {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

/*─────────────────────────HEAD NOTIFICATION─────────────────────────*/

#mrkb-hud #mrkb-head #mrkb-notification {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  background: var(--background);
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-head #mrkb-notification.hidden {
  height: 0;
}
#mrkb-hud #mrkb-head #mrkb-notification a {
  height: 30px;
  width: 30px;
  text-align: center;
  pointer-events: all;
}
#mrkb-hud #mrkb-head #mrkb-notification a > i {
  line-height: 30px;
}
#mrkb-hud #mrkb-head #mrkb-notification #notify {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*─────────────────────────HEAD BOSS─────────────────────────*/

#mrkb-hud #mrkb-head #mrkb-boss {
  display: grid;
  width: 100%;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-head #mrkb-boss.hidden {
  height: 0;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar {
  width: 100%;
  height: 40px;
  grid-column: 1/2;
  grid-row: 1/2;
  -webkit-appearance: none;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar::-webkit-progress-bar {
  background: var(--background);
}
#mrkb-hud #mrkb-head #mrkb-boss #bossbar::-webkit-progress-value {
  height: calc(100% - 6px);
  margin: 0 auto;
  background: linear-gradient(to right,
    var(--background) 3px,
    #aa0000aa 50px calc(100% - 50px),
    var(--background) calc(100% - 3px)
  ), url("/modules/mrkb-ui/src/healthbar.gif");
  background-position: center;
  position: relative;
  top: 3px;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 0;
  justify-self: center;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe #bossprofile {
  display: flex;
  width: 80px;
  height: 80px;
  margin: -20px 0 0 0;
  border: 2px solid var(--background);
  background: var(--background);
  transform: rotate(45deg);
  overflow: hidden;
}
#mrkb-hud #mrkb-head #mrkb-boss #bossframe #bossprofile img {
  transform: rotate(-45deg) scale(1.5);
}
#mrkb-hud #mrkb-head #mrkb-boss #bosstitle {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  opacity: 0.5;
  z-index: 1;
}
#mrkb-hud #mrkb-head #mrkb-boss #bosstitle h3 {
  color: white;
  flex: 1;
  text-align: center;
  font-size: 30px;
  line-height: 46px;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  padding: 0 20px;
}

/*─────────────────────────TOP─────────────────────────*/

#mrkb-hud #mrkb-top {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px fit-content(70px);
  margin: 10px 10px 0;
}

/*─────────────────────────TOP OPENER─────────────────────────*/

#mrkb-hud #mrkb-top #top-openers {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle {
  width: 30px;
  height: 30px;
  color: var(--text-color);
  text-align: center;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  justify-self: left;
  background: linear-gradient(to bottom, black 75%, white 75%);
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  pointer-events: all;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle:hover {
  box-shadow: 0 0 5px var(--highlight);
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.fold {
  background: #00000022;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.disabled {
  pointer-events: none;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle > i {
  line-height: 30px;
}
#mrkb-hud #mrkb-top #top-openers #characon-toggle.disabled > i {
  opacity: 0.5;
}
#mrkb-hud #mrkb-top #top-openers #right-opener {
  flex: none;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open {
  height: 30px;
  width: 30px;
  display: flex;
  border: 3px solid white;
  background: var(--background);
  transform: rotate(45deg) scale(0.7);
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open a,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open a,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open a {
  display: flex;
  font-size: 12px;
  color: white;
  text-align: center;
  transform: rotate(-45deg) scale(1.5);
  pointer-events: all;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open a > i,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open a > i {
  line-height: 30px;
}
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-noti-open.hidden,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-skill-open.hidden,
#mrkb-hud #mrkb-top #top-openers #right-opener #ui-resrc-open.hidden {
  display: none;
}

/*─────────────────────────TOP CHARACTER─────────────────────────*/

#mrkb-hud #mrkb-top #character-container {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 80px;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 15px 25px 15px 15px 10px;
  overflow: hidden;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-top #character-container.hidden {
  height: 0;
}
#mrkb-hud #mrkb-top #character-container #charaprofile {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/4;
  width: 80px;
  height: 80px;
  background-color: var(--background);
  border: 5px solid transparent;
  border-radius: 0;
  transform: rotateZ(45deg) scale(0.7);
  overflow: hidden;
  background-image: linear-gradient(var(--background), var(--background)),
    linear-gradient(to bottom right, transparent 0px 30%, white 30% 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #charaprofile img {
  transform: scale(1.5) rotate(-45deg);
}
#mrkb-hud #mrkb-top #character-container #namespace {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  width: fit-content;
  height: 100%;
}
#mrkb-hud #mrkb-top #character-container #namespace #profilename {
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 2px;
  line-height: 15px;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  width: calc(100% + 25px);
  height: 100%;
  margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar::-webkit-progress-bar {
  background: linear-gradient(45deg,
    var(--background) calc(100% - 20px),
    transparent calc(100% - 20px)
  );
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthbar::-webkit-progress-value {
  height: 19px;
  background: linear-gradient(45deg,
    var(--health-color) calc(100% - 21px),
    transparent calc(100% - 21px)
  );
  position: relative;
  top: 3px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-health #healthnumber {
  width: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: fantasy;
  line-height: 25px;
  color: white;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  width: calc(100% + 25px);
  height: 100%;
  margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar {
  width: 85%;
  height: 100%;
  -webkit-appearance: none;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar::-webkit-progress-bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
    var(--background) calc(100% - 20px),
    transparent calc(100% - 20px)
  );
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #manabar::-webkit-progress-value {
  height: 9px;
  background: linear-gradient(135deg,
    var(--mana-color) calc(100% - 21px),
    transparent calc(100% - 21px)
  );
  position: relative;
  top: 3px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-mana #mananumber {
  width: 0;
  font-size: 12px;
  font-weight: 600;
  font-family: fantasy;
  color: white;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  z-index: 1;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  width: calc(100% + 25px);
  height: 100%;
  margin: 0 0 0 -25px;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info {
  width: fit-content;
  height: 100%;
  display: flex;
  color: var(--text-color);
  font-size: 10px;
  line-height: 15px;
  padding: 0 20px;
  margin: 0 -5px 0 -5px;
  background: linear-gradient(135deg,
    transparent 10px,
    var(--background) 10px calc(100% - 10px),
    transparent calc(100% - 10px)
  );
  white-space: nowrap;
  pointer-events: all;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info > i {
  line-height: 11px;
  margin: 0;
}
#mrkb-hud #mrkb-top #character-container #mrkb-info .info > i:first-child {
  margin: 0 3px 0 0;
}

/*─────────────────────────TOP BUTTONS─────────────────────────*/

#mrkb-hud #mrkb-top #mrkb-buttons {
  grid-column: 1/2;
  grid-row: 1/4;
  width: fit-content;
  margin: 70px 0 0 0;
  align-self: end;
  display: flex;
  pointer-events: all;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey {
  width: 30px;
  height: 30px;
  line-height: 36px;
  flex: none;
  color: var(--text-color);
  font-size: 16px;
  background: #00000022;
  border: 0;
  border-radius: 50%;
  padding: 0;
  margin: 0 5px 0 0;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey:hover {
  color: white;
  text-shadow: 0 0 10px var(--highlight);
  box-shadow: 0 0 5px var(--highlight);
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey > i {
  line-height: 30px;
}
#mrkb-hud #mrkb-top #mrkb-buttons .functionkey#toggleAllies {
  margin: 0 25px 0 0;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-top #mrkb-buttons.moved {
  margin: 0 0 0 35px;
}
#mrkb-hud #mrkb-top #mrkb-buttons.moved .functionkey#toggleAllies{
  margin: 0 5px 0 0;
}

/*─────────────────────────MIDDLE─────────────────────────*/

#mrkb-hud #mrkb-middle {
  grid-row: 3/4;
  flex: 1;
  display: flex;
  margin: 0 10px;
}

/*─────────────────────────MIDDLE LEFT─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-left {
  flex: none;
  display: flex;
  width: 250px;
  height: 100%;
}

/*─────────────────────────MIDDLE LEFT PLAYERS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-left #players {
  font-size: 12px;
  width: 0;
  height: 100%;
  margin: 5px 0;
}
#mrkb-hud #mrkb-middle #mrkb-left.open #players {
  width: 100%;
}
#mrkb-hud #mrkb-middle #mrkb-left #players > h3 {
  display: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player {
  width: 100%;
  height: 24px;
  display: flex;
  grid-template-columns: 1fr fit-content(70px);
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  align-items: center;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player.context {
  margin: 0;
  border: 0;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-active {
  display: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-active.inactive + .player-name {
  opacity: 0.25;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-name {
  flex: 1;
  display: flex;
  grid-gap: 14px;
  align-items: center;
  height: 20px;
  font-size: 11px;
  line-height: 11px;
  padding: 0 30px 0 0;
  margin: 0;
  background: linear-gradient(120deg, transparent 30px,
    var(--background) 30px,
    transparent calc(100% - 15px)
  );
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-name .player-avatar {
  flex: none;
  width: 40px;
  height: 50px;
  background: #ffffff77;
  border: 3px solid transparent;
  margin: 0 0 0 10px;
  transform: rotate(30deg) scale(1);
  overflow: hidden;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .player-name .player-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-30deg) scale(1.5);
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .bennies-count {
  flex: none;
  width: 60px;
  color: var(--background);
  font-size: 12px;
  line-height: 20px;
  margin: 0 0 0 -20px;
  background: linear-gradient(120deg,
    transparent 15px,
    var(--text-color) 15px calc(100% - 15px),
    transparent calc(100% - 15px)
  );
  text-shadow: none;
}
#mrkb-hud #mrkb-middle #mrkb-left #players .player .bennies-count:hover {
  filter: none;
  color: white;
  background: linear-gradient(120deg,
    transparent 15px,
    var(--background) 15px calc(100% - 15px),
    transparent calc(100% - 15px)
  );
  text-shadow: 0 0 10px var(--highlight);
}
/*─────────────────────────MIDDLE CENTER─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center {
  flex: 1;
  min-width: 0;
  display: grid;
}

/*─────────────────────────MIDDLE CENTER LOUDSPEAKER─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #loud-speaker {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

/*─────────────────────────MIDDLE CENTER NOTIFICATIONS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #notifications {
  position: initial;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column-reverse;
  overflow: hidden;
  pointer-events: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification {
  width: 100%;
  height: fit-content;
  background:none;
  box-shadow:none;
  backdrop-filter:none;
  border:none;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  pointer-events: all;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification:before {
  display: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification .close {
  display: none;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup img {
  width: 200px;
  margin: 0 auto 10px;
}
#mrkb-hud #mrkb-middle #mrkb-center #notifications .notification.info .changepopup h2 {
  height: 30px;
}

/*─────────────────────────MIDDLE CENTER NOTIFICATIONS─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-center #turn-notice {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 300px;
  height: 300px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice h3 {
  width: 100%;
  height: 48px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  line-height: 40px;
  margin: 0 0 -40px 0;
  z-index: 1;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice h3#turn-name {
  text-align: right;
  margin: -40px 5px 0 0;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice div {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
  transform: rotate(45deg) scale(0.7);
  transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice div #turn-img {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) scale(1.5);
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice.hidden {
  height: 0;
}
#mrkb-hud #mrkb-middle #mrkb-center #turn-notice.hidden div {
  transform: rotate(-410deg) scale(0);
}

/*─────────────────────────MIDDLE SIDE─────────────────────────*/

#mrkb-hud #mrkb-middle #mrkb-side {
  position: absolute;
  right: 5px;
  bottom: 70px;
  flex: none;
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-middle #mrkb-side.open {
  height: 600px;
  opacity: 1;
}

/*─────────────────────────MIDDLE SIDE PHONE─────────────────────────*/

#phone {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  border-radius: 25px;
  pointer-events: all;
  transition: all 0.3s;
}
#phone #phone-top {
  flex: 0 0 30px;
  width: calc(100% - 16px);
  display: flex;
  align-items: flex-end;
  background: #222222;
  padding: 5px 10px;
  border-radius: 20px 20px 0 0;
  margin: 8px 8px 0 8px;
}
#phone #phone-top div i {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 14px;
}
#phone #phone-top #phone-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 2px;
  color: white;
}
#phone #phone-top #phone-left i {
  font-size: 14px;
}
#phone #phone-top #phone-left #phone-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 1px;
  margin: 0 5px 0 0;
}
#phone #phone-top #phone-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phone #phone-top #phone-center #phone-camera {
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: var(--background);
  border-radius: 50%;
  color: #444444;
}
#phone #phone-top #phone-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 2px;
  color: white;
}
#phone #phone-top #phone-right i {
  font-size: 12px;
}
#phone #phone-top #phone-right #phone-battery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 1px;
  margin: 0 0 0 5px;
}
#phone #phone-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 16px);
  margin: 0 8px;
  overflow: hidden;
}
#phone #phone-body .phone-window {
  flex: none;
  width: 100%;
  height: 0;
  border: 0;
  opacity: 0;
  overflow: hidden;
  filter: brightness(0);
  transition: 0.3s all;
}
#phone #phone-body .phone-window.active {
  height: 100%;
  overflow: auto;
  filter: none;
  opacity: 1;
}
#phone #phone-body .phone-window.active::-webkit-scrollbar {
  display: none;
}
#phone #phone-body #phone-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/modules/mrkb-ui/src/phone-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#phone #phone-body #phone-home #phone-widget {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  margin: 30px 20px 10px 20px;
}
#phone #phone-body #phone-home #phone-apps {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5px 10px;
}
#phone #phone-body #phone-home #phone-apps .phone-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#phone #phone-body #phone-home #phone-apps .phone-app img {
  width: 46px;
  height: 46px;
  background: white;
  border-radius: calc(var(--radius) + 3px);
  box-shadow: 0 0 8px #00000077;
  object-fit: cover;
}
#phone #phone-body #phone-home #phone-apps .phone-app h4 {
  font-size: 12px;
  text-align: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  margin: 5px 0 0 0;
  white-space: nowrap;
}
#phone #phone-body #phone-home #phone-dock {
  height: 60px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 10px 10px 10px;
}
#phone #phone-body #phone-home #phone-dock .dock-app {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#phone #phone-body #phone-home #phone-dock .dock-app img {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px #00000077;
  object-fit: cover;
}
#phone #phone-bottom {
  flex: 0 0 35px;
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  background: #222222;
  border-radius: 0 0 20px 20px;
  margin: 0 8px 8px 8px;
  overflow: hidden;
  transition: all 0.3s;
  pointer-events: all;
}
#phone #phone-bottom a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
#phone #phone-bottom a:first-child {
  transform: rotate(90deg);
}

/*─────────────────────────PHONE WDIGET CLOCK─────────────────────────*/

#phone-clock {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 11px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  overflow: hidden;
}
#phone-clock #clock-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#phone-clock #clock-day h4 {
  line-height: 14px;
}
#phone-clock #clock-times {
  display: flex;
  align-items: flex-end;
}
#phone-clock #clock-times #clock-ap {
  margin: 0 6px;
}
#phone-clock #clock-times #clock-time {
  font-size: 32px;
  line-height: 32px;
}

/*─────────────────────────PHONE WDIGET CUSTOMRESOURCE─────────────────────────*/

#phone-resource {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  background: #ffffff55;
  border-radius: var(--radius);
  overflow: hidden;
}
#phone-resource.hidden {
  height: 0;
  border-width: 0 2px;
}
#phone-resource #resrcname {
  flex: 1;
  display: flex;
  padding: 5px;
}
#phone-resource #resrcname input {
  font-size: 14px;
  flex: 1;
  height: 20px;
  color: white;
  line-height: 20px;
  text-align: center;
  background: none;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#phone-resource #resrcname input:focus {
  box-shadow: none;
}
#phone-resource #resrccontrol {
  flex: 1;
  display: flex;
  padding: 5px;
}
#phone-resource #resrccontrol #resrc {
  flex: 1;
  height: 20px;
}
#phone-resource #resrccontrol #resrc h3 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  margin: 0;
}
#phone-resource #resrccontrol > a {
  flex: 1;
  height: 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#phone-resource #resrccontrol > a > i {
  line-height: 20px;
}

/*─────────────────────────PHONE APP ITEMCASTER─────────────────────────*/

#phone-caster {
  color: var(--text-color);
  background: linear-gradient(45deg,
    var(--background) 70%,
    transparent 70%
  ), linear-gradient(to bottom,
    var(--background-bright),
    var(--background) 50%
  );
  pointer-events: all;
}
#phone-caster .caster-tab {
  margin: 20px;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  overflow: hidden;
  transition: all 0.3s;
}
#phone-caster .caster-tab .caster-title {
  flex: 1;
  width: 100%;
  height: 32px;
  display: flex;
  color: black;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  background-color: white;
  padding: 0 10px;
  margin: 0;
}
#phone-caster .caster-tab .item-tab {
  width: calc(100% - 20px);
  margin: 10px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  z-index: 3;
}
#phone-caster .caster-tab .item-tab::-webkit-scrollbar {
  display: none;
}
#phone-caster .caster-tab .item-tab .cast-items {
  display: flex;
  margin: 5px;
}
#phone-caster .caster-tab .item-tab .cast-items img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#phone-caster .caster-tab .item-tab .cast-items h3 {
  flex: 1;
  height: 20px;
  line-height: 20px;
  margin: 0;
  font-size: 14px;
  text-align: left;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#phone-caster #caster-overlay {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: calc(100% - 32px);
  background: linear-gradient(to bottom,
    var(--background),
    transparent calc(50% - 13px),
    #fff3 calc(50% - 13px) calc(50% + 13px),
    transparent calc(50% + 13px),
    var(--background)
  );
  align-self: end;
  pointer-events: none;
  z-index: 4;
}
#phone-caster #caster-menu {
  flex: none;
  height: 100%;
  display: flex;
  background: var(--background);
}
#phone-caster #caster-menu a {
  flex: 1;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
}
#phone-caster #caster-menu a > i {
  transform: rotate(-45deg);
  line-height: 32px;
}

/*─────────────────────────PHONE APP INVENTORY─────────────────────────*/

#phone-inventory {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
#phone-inventory #inv-folder {
  display: flex;
}
#phone-inventory #inv-folder .tab-folder {
  flex: 1;
  color: var(--text-color);
  text-align: center;
  line-height: 28px;
  border-radius: 5px 5px 0 0;
  opacity: 0.5;
  background: var(--foreground);
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
#phone-inventory #inv-folder .tab-folder.active {
  opacity: 1;
  background: var(--background);
}
#phone-inventory #inv-slot {
  flex: none;
  height: 200px;
  border-radius: 5px;
  background: var(--background);
  overflow: hidden;
}
#phone-inventory #inv-slot .inv-pop {
  display: none;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20px 1fr;
  grid-gap: 5px 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}
#phone-inventory #inv-slot .inv-pop h4 {
  grid-column: 1/3;
  grid-row: 1/2;
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}
#phone-inventory #inv-slot .inv-pop img {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: auto;
}
#phone-inventory #inv-slot .inv-pop div {
  grid-column: 2/3;
  grid-row: 2/3;
  color: var(--text-color);
  font-size: 10px;
  overflow: hidden;
  z-index: 1;
}
#phone-inventory #inv-slot .inv-pop.active {
  display: grid;
}
#phone-inventory #inv-folders {
  flex: 1;
}
#phone-inventory #inv-folders .inv-grid {
  display: none;
  grid-gap: 10px;
  height: 100%;
  background: var(--foreground);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#phone-inventory #inv-folders .inv-grid.active {
  display: grid;
}
#phone-inventory #inv-folders .inv-grid .inv-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
#phone-inventory #inv-folders .inv-grid .inv-icon:hover {
  box-shadow: 0 0 10px var(--highlight);
}
#phone-inventory #inv-folders .inv-grid .inv-icon img {
  object-fit: cover;
  transform: scale(1.2);
}

/*─────────────────────────PHONE APP KAKAO─────────────────────────*/

#phone-kakao {
  display: flex;
  flex-direction: column;
  background: #B2C7D9;
}
#phone-kakao #kakaoheader {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  margin: 0 0 10px 0;
  color: black;
}
#phone-kakao #kakaoheader #kakaotitle {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  margin: 0 5px;
}
#phone-kakao #kakaoheader #kakaotitle span {
  color: #aaaaaa;
}
#phone-kakao #kakaoheader a {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  color: #555555;
}
#phone-kakao #kakaoheader a > i {
  font-size: 16px;
}
#phone-kakao #kakaolog {
  flex: 1;
  overflow-y:scroll;
  padding-left: 18px;
  color: black;
}
#phone-kakao #kakaolog .chat {
  display: grid;
  font-size: 12px;
  grid-template-columns: 42px 220px;
  grid-template-rows: repeat(2, minmax(20px, auto));
  grid-column-gap: 10px;
  font-family: 'NEXON Lv1 Gothic OTF';
  margin: 14px 0;
}
#phone-kakao #kakaolog .chat .profile {
  grid-column: 1/2;
  grid-row: 1/3
}
#phone-kakao #kakaolog .chat .kakaoname {
  grid-column: 2/3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  color: black!important;
  font-weight: 600;
}
#phone-kakao #kakaolog .chat .kakao {
  grid-column: 2/3;
  width: fit-content;
  background: white;
  padding: 6px 8px;
  border: 1px solid #00000011;
  border-radius: 3px;
  white-space: pre-line;
  word-break: break-all;
  text-indent: -16px;
}
#phone-kakao #kakaolog .chat .kakao:before {
  top: 6px;
  right: 1px;
  border: 8px solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: relative;
  border-top-color: white;
}
#phone-kakao #kakaolog .chat.self {
  grid-template-columns: 220px 0px;
  justify-content: end;
}
#phone-kakao #kakaolog .chat.self .profile {
  display: none;
}
#phone-kakao #kakaolog .chat.self .kakaoname {
  grid-column: 1/2;
  text-align: right;
}
#phone-kakao #kakaolog .chat.self .kakao {
  grid-column: 1/2;
  background: #FFEC42;
  justify-self: end;
  text-indent: 0;
}
#phone-kakao #kakaolog .chat.self .kakao:before {
  display: none;
}
#phone-kakao #kakaobottom {
  flex: none;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: white;
}
#phone-kakao #kakaobottom #kakaomessage {
  flex: 1;
  height: 100%;
  min-height: 30px;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-size: 14px;
  line-height: 19px;
  color: black;
  background: transparent;
  padding: 8px 0;
  border: 0;
  resize: none;
}
#phone-kakao #kakaobottom a {
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phone-kakao #kakaobottom a i {
  font-size: 18px;
  text-align: center;
}
#phone-kakao #kakaobottom #sendmessage {
  background-color: #FFEC42;
}

/*─────────────────────────PHONE APP TEXT─────────────────────────*/

#phone-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 10px;
  background-color: var(--background);
}
#phone-text.active {
  padding: 10px;
}
#phone-text .text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  background-color: var(--foreground);
  padding: 15px;
  border-radius: 15px;
}
#phone-text .text-div h4 {
  color: white;
  font-size: 14px;
}
#phone-text .text-div input {
  width: 100%;
  text-align: center;
  background-color: var(--background);
  border-radius: 5px;
}
#phone-text .text-div button {
  color: black;
  background-color: white;
}

/*─────────────────────────DISPLAY─────────────────────────*/

#mrkb-hud #mrkb-display {
  grid-row: 2/-3;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  text-align: center;
  opacity: 1;
  z-index: -1;
  transition: 0.3s all;
}
#mrkb-hud #mrkb-display > * {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  border: 0;
  margin: auto;
  opacity: 1;
  object-position: center;
  pointer-events: all;
  transition: 0.3s all;
}
#mrkb-hud #mrkb-display > #display-youtube,
#mrkb-hud #mrkb-display > #display-embed,
#mrkb-hud #mrkb-display > #display-image-background,
#mrkb-hud #mrkb-display > #display-video-background {
  object-fit: cover;
}
#mrkb-hud #mrkb-display > #display-image,
#mrkb-hud #mrkb-display > #display-video {
  object-fit: contain;
}
#mrkb-hud #mrkb-display > #display-overlay,
#mrkb-hud #mrkb-display > #display-flash {
  object-fit: cover;
  mix-blend-mode: screen;
}
#mrkb-hud #mrkb-display > #display-image-background,
#mrkb-hud #mrkb-display > #display-video-background {
  filter: brightness(0.8) contrast(0.8) blur(3px);
  transform: scale(1.5);
  z-index: -1;
}
#mrkb-hud #mrkb-display > *.hidden {
  opacity: 0;
  pointer-events: none;
}
#mrkb-hud #mrkb-display.trans {
  opacity: 0.2;
}
#mrkb-hud #mrkb-display.trans > * {
  pointer-events: none;
}

/*─────────────────────────ALLIES─────────────────────────*/

#mrkb-hud #mrkb-allies {
  grid-row: -3/-2;
  width: 100%;
  height: 120px;
  display: flex;
  grid-gap: 5px;
  padding: 0 10px;
  overflow: hidden;
}
#mrkb-hud #mrkb-allies .allies-container {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 70px 16px 14px;
  margin: auto 0;
}
#mrkb-hud #mrkb-allies .allies-container .profilename {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  opacity: 0.8;
  z-index: 3;
  color: white;
  font-weight: 600;
  font-size: 10px;
  text-align: right;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#mrkb-hud #mrkb-allies .allies-container .charaprofile {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--background);
  border: 3px solid transparent;
  border-radius: 0;
  overflow: hidden;
  background-image: linear-gradient(var(--background), var(--background)),
  linear-gradient(to bottom right, white 0px 30%, transparent 30% 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: 1;
}
#mrkb-hud #mrkb-allies .allies-container .charaprofile img{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-health {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  align-items: center;
  height: 100%;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-mana {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  align-items: center;
  height: 100%;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-health .healthbar {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-mana .manabar {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-health .healthbar::-webkit-progress-bar {
  background: var(--background);
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-health .healthbar::-webkit-progress-value {
  background: var(--health-color);
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-mana .manabar::-webkit-progress-bar {
  background: var(--background);
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-mana .manabar::-webkit-progress-value {
  background: var(--mana-color);
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-health .healthnumber {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: fantasy;
  text-align: center;
  line-height: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 0.5;
  z-index: 2;
}
#mrkb-hud #mrkb-allies .allies-container .mrkb-mana .mananumber {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  font-family: fantasy;
  text-align: center;
  line-height: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 0.5;
  z-index: 2;
}

/*─────────────────────────CHAT─────────────────────────*/

#mrkb-hud #mrkb-chat {
  grid-row: -3/-2;
  height: 100px;
  align-content: start;
  align-self: end;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 70px 30px;
  margin: 0;
  transition: all 0.3s;
  pointer-events: all;
}
#mrkb-hud #mrkb-chat #port-container {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  left: 26px;
  bottom: 75px;
  width: 150px;
  height: 150px;
  flex: none;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s all;
}
#mrkb-hud #mrkb-chat #port-container #ui-port {
  object-fit: cover;
}
#mrkb-hud #mrkb-chat #ui-name {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  top: -10px;
  width: 180px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
  line-height: 34px;
  background: linear-gradient(45deg, #eeeeee 70%, white 70%);
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px black;
  word-break: keep-all;
  z-index: 1;
}
#mrkb-hud #mrkb-chat #chat-container {
  grid-column: 1/4;
  grid-row: 1/3;
  display: flex;
  width: calc(100vw - var(--sidebar-width));
  height: 100%;
  background: linear-gradient(45deg, black 60px, var(--background) 60px, var(--background-bright), transparent);
  align-self: end;
  overflow: hidden;
}
#mrkb-hud #mrkb-chat #chat-container #ui-chat {
  flex: 1;
  height: 70px;
  color: white;
  font-size: 18px;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  margin: 20px 30px 10px 220px;
  overflow: hidden;
  white-space: pre-line;
  word-break: break-all;
}
#mrkb-hud #mrkb-chat #ui-chat-fold {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 60px;
  height: 20px;
  margin: 0 auto;
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  pointer-events: all;
  z-index: 1;
}
#mrkb-hud #mrkb-chat.hidden {
  height: 0;
}
#mrkb-hud #mrkb-chat.hidden #port-container {
  left: 0;
  bottom: 0;
  transform: rotate(-360deg);
}

/*─────────────────────────BOTOPENERS─────────────────────────*/

#mrkb-hud #mrkb-openers {
  grid-row: -3/-2;
  height: 25px;
  display: grid;
  align-self: end;
  align-items: end;
  margin: -25px 0 0 0;
  overflow: hidden;
  z-index: 0;
}
#mrkb-hud #mrkb-openers #ui-chat-open,
#mrkb-hud #mrkb-openers #ui-bot-open {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 30px;
  height: 25px;
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
  margin: 0 auto;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  pointer-events: all;
  transition: 0.3s all;
}
#mrkb-hud #mrkb-openers #ui-chat-open:hover,
#mrkb-hud #mrkb-openers #ui-bot-open:hover {
  text-shadow: 0 0 10px var(--highlight);
}
#mrkb-hud #mrkb-openers #ui-chat-open.hidden,
#mrkb-hud #mrkb-openers #ui-bot-open.hidden {
  height: 0;
}
#mrkb-hud #mrkb-openers #ui-chat-open > i,
#mrkb-hud #mrkb-openers #ui-bot-open > i {
  line-height: 25px;
}
#mrkb-hud #mrkb-openers #ui-bot-open {
  margin: 0 0 0 auto;
}

/*─────────────────────────BOTTOM─────────────────────────*/

#mrkb-hud #mrkb-bottom {
  grid-row: -2/-1;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 224px 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: visible;
  box-shadow: 0 0 5px black;
  z-index: 1;
  transition: all 0.3s;
}
#mrkb-hud #mrkb-bottom.hidden {
  height: 0;
  overflow: hidden;
}

/*─────────────────────────BOTTOM CONTROLS─────────────────────────*/

#mrkb-hud #mrkb-bottom #controls {
  grid-column: 1/2;
  grid-row: 1/3;
  flex-direction: column-reverse;
  align-self: self-end;
  padding: 0;
}
#mrkb-hud #mrkb-bottom #controls .control-tools {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
  background: none!important;
}
#mrkb-hud #mrkb-bottom #controls .control-tools li {
  width: auto;
  height: 32px;
  color: var(--text-color);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  flex: 1;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  background: var(--background);
}
#mrkb-hud #mrkb-bottom #controls .control-tools li.active,
#mrkb-hud #mrkb-bottom #controls .control-tools li:hover {
  color: white;
  border: 0;
  text-shadow: 0 0 10px var(--highlight);
}

/*─────────────────────────BOTTOM HOTBAR─────────────────────────*/

#mrkb-hud #mrkb-bottom #hotbar {
  grid-column: 2/3;
  grid-row: 1/3;
  width: fit-content;
  height: 64px;
  background: var(--background);
  border: 0;
  margin: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls {
  width: 32px;
  height: 64px;
  color: var(--text-color);
  margin: 0;
  justify-content: space-around;
  border: 1px solid transparent;
  background: none;
  box-shadow: none;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls #bar-toggle {
  display: none;
}
#mrkb-hud #mrkb-bottom #hotbar #hotbar-directory-controls #macro-directory {
  line-height: 64px;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list {
  border: none;
  display: grid;
  grid-template-columns: repeat(5, 32px);
  grid-template-rows: 32px 32px;
  height: fit-content;
  margin: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro {
  height: 32px;
  width: 32px;
  display: grid;
  border: 1px solid transparent;
  border-radius: 0;
  background: none;
  box-shadow: none;
  justify-content: center;
  align-items: center;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro .macro-icon {
  width: 30px;
  height: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro .macro-key {
  position: initial;
  width: 30px;
  height: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  padding: 2px 0 0 0;
  background: none;
  opacity: 0.4;
  z-index: 1;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro:hover {
  border: 1px solid var(--highlight);
  box-shadow: 0 0 10px var(--highlight) inset;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #macro-list .macro:hover .macro-key {
  opacity: 0;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls {
  height: 64px;
  min-width: 32px;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls a.page-control {
  height: 32px;
  width: 32px;
  margin: 0;
  line-height: 36px;
}
#mrkb-hud #mrkb-bottom #hotbar #action-bar #hotbar-page-controls span.page-number {
  display: none;
}

/*─────────────────────────BOTTOM UTILS─────────────────────────*/

#mrkb-hud #mrkb-bottom #mrkb-utils {
  display: flex;
  pointer-events: all;
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--background);
}
#mrkb-hud #mrkb-bottom #mrkb-utils .mrkbmenu {
  flex: 1;
  width: auto;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0;
}
#mrkb-hud #mrkb-bottom #mrkb-utils .mrkbmenu > i {
  margin: 0;
  height: 32px;
  line-height: 32px;
}

/*─────────────────────────BOTTOM SIDEBARTABS─────────────────────────*/

#mrkb-hud #mrkb-bottom #sidebar-tabs {
  width: 100%;
  height: 32px;
  pointer-events: all;
  position: initial;
  grid-column: 3/4;
  grid-row: 2/3;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
#mrkb-hud #mrkb-bottom #sidebar-tabs .item {
  width: auto;
  height: 32px;
  line-height: 36px;
  flex: 1;
  font-size: 18px;
  color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 0;
  background: var(--background);
}
#mrkb-hud #mrkb-bottom #sidebar-tabs > .item.active {
  color: white;
  text-shadow: 0 0 10px var(--highlight);
  box-shadow: none;
}
#mrkb-hud #mrkb-bottom #sidebar-tabs .collapse {
  display: none;
}
