*::-webkit-scrollbar-thumb {
    background-color: #ffffffaa;
    border: 0;
    border-radius: 3px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
}
#sidebar {
    position: relative;
    height: 100%!important;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    overflow: visible!important;
    transform-origin: right;
}
#sidebar.collapsed {
    width: 0!important;
    height: 100vh;
}
#sidebar.full {
    width: 100vw!important;
}
#sidebar .header-actions,
#sidebar .encounters {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    margin-right: 40px;
}
#sidebar .header-actions button {
    height: 32px;
    margin: 0;
}
#sidebar #fold-tabs {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black, 0 0 5px black;
    color: var(--text-color);
    border: 0;
    border-radius: 0;
    z-index: 99;
}
#sidebar #fold-tabs:hover {
    color: white;
}
#sidebar #sidebar-tabs {
    position: absolute;
    right: 0;
    top: -100%;
    flex: none;
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent, var(--background), #4a4a4a);
    padding: 40px 0 0 0;
    border: 0;
    border-radius: 0 0 0 var(--radius);
    margin: 0;
    box-shadow: 0 0 4px black;
    overflow: hidden;
    opacity: 0;
    pointer-events: all;
    transition: top 0.3s, opacity 0.3s;
    z-index: 98;
}
#sidebar #sidebar-tabs.opened {
    top: 0;
    opacity: 1;
}
#sidebar #sidebar-tabs .item,
#sidebar #sidebar-tabs .collapse {
    flex: 1 1 42px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--text-color);
    border: 0;
    border-radius: 0;
    background: transparent;
}
#sidebar #sidebar-tabs .item.active,
#sidebar #sidebar-tabs .item:hover {
    color: white;
    text-shadow: 0 0 10px var(--highlight);
    box-shadow: none;
}
#sidebar #sidebar-tabs .collapse {
    display: none;
}
#sidebar #sidebar-tabs .item.empty {
    font-size: 8px;
    opacity: 0.5;
}
#sidebar #sidebar-tabs > .item > i.notification-pip {
    top: 3px;
    right: 3px;
    font-size: 10px;
    color: var(--highlight);
}
#sidebar .sidebar-tab {
    background: var(--background);
}
#sidebar #context-menu {
    font-size: 12px;
    max-width: unset;
    background: var(--foreground);
    padding: 3px;
    border: 0;
    border-radius: var(--radius);
    margin: 1px 0 0 0;
}
#sidebar #context-menu .context-item {
    line-height: 24px;
}
#sidebar > div:last-child {
    z-index: 100;
}
#sidebar #chat #actor-toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black, 0 0 5px black;
    z-index: 99;
}
#sidebar #chat .jump-to-bottom {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#sidebar #chat .jump-to-bottom.hidden {
    display: none;
}
#sidebar #chat .jump-to-bottom > a {
    position: relative;
    bottom: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    background: white;
    padding: 0;
    border-radius: 3px;
    margin: 0 auto;
    opacity: 0.3;
    overflow: hidden;
    white-space: nowrap;
    transform: rotate(45deg) scale(0.7);
    transition: transform 0.3s 0.3s, width 0.3s, opacity 0.3s;
}
#sidebar #chat .jump-to-bottom > a:hover {
    width: 170px;
    opacity: 1;
    text-shadow: none;
    transform: none;
    transition: transform 0.3s, width 0.3s 0.3s, opacity 0.3s;
}
#sidebar #chat .jump-to-bottom > a > i {
    flex: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    transition: transform 0.3s 0.3s;
}
#sidebar #chat .jump-to-bottom > a:hover > i {
    transform: none;
    transition: transform 0.3s;
}

#sidebar #chat #chat-controls {
    position: relative;
    flex: none;
    height: 40px;
    flex-wrap: nowrap;
    gap: 3px;
    margin: 0 5px;
}
#sidebar #chat #chat-controls .chat-control-icon {
    display: none;
}
#sidebar #chat #chat-controls .control-buttons {
    flex: 2;
    width: fit-content;
    display: flex;
    gap: 3px;
}
#sidebar #chat #chat-controls a {
    flex: 1;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: none;
    color: #aaaaaa;
}
#sidebar #chat #chat-controls a:hover {
    color: white;
}
#sidebar #chat #chat-controls a > i {
    width: 24px;
    font-size: 18px;
    line-height: 24px;
}
#sidebar #chat #chat-controls a > span {
    font-size: 9px;
    text-shadow: 0 0 2px black;
    white-space: nowrap;
}
#sidebar #chat #chat-controls .roll-mode {
}
#sidebar #chat #chat-controls .roll-mode.active {
    color: white;
}

#sidebar #chat #chat-form {
    position: relative;
    flex: none;
    font-size: 14px;
    margin: 5px;
    overflow: hidden;
}
#sidebar #chat #chat-form #mobile-send {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-family: var(--gothic-bold);
    font-size: 14px;
    background: transparent;
    padding: 0;
    margin: 0;
}
#sidebar #chat #chat-form textarea {
    width: 100%;
    height: 100%;
    min-height: 0;
    font-family: var(--gothic-regular);
    font-size: 14px;
    color: var(--text-color);
    background: var(--foreground);
    box-shadow: none;
    border: none;
    border-radius: var(--radius);
    transition: opacity 0.3s;
}
#sidebar #chat #chat-form textarea::-webkit-scrollbar  {
    display: none;
}
#sidebar #chat #chat-form textarea::spelling-error  {
    text-decoration: none;
}
#sidebar #chat #chat-form textarea.disabled {
    pointer-events: none;
    opacity: 0;
}
#sidebar #chat #chat-form #chat-editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
}
#sidebar #chat #chat-form #mrkb-nameplate {
    font-family: var(--gothic-bold);
    font-size: 24px;
    position: absolute;
    top: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    z-index: 1;
    opacity: 0.1;
    pointer-events: none;
}
#sidebar #chat #chat-form #cgmp-typing-notify {
    position: absolute;
    top: unset;
    left: 0;
    bottom: -5px;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 20px;
    background: var(--background);
    pointer-events: none;
}
#sidebar #chat #chat-form #cgmp-typing-notify .dot {
    width: 3px;
    height: 3px;
    margin: 0 1px;
}

#sidebar #chat .illandril-chat-enhancements--currentSpeaker,
#sidebar #chat .illandril-chat-enhancements--current-speaker {
    font-family: var(--gothic-bold);
    font-size: 16px;
    position: fixed;
    bottom:5px;
    right:5px;
    line-height: 20px;
    z-index: 1;
    opacity: 0.4;
    pointer-events: none;
}

#sidebar .directory-footer button{
    font-size: 12px;
}
#sidebar .directory .directory-list {
    font-size: 12px;
    line-height: 12px;
    margin: 5px;
}
#sidebar .directory .directory-list .directory-item {
    line-height: 30px;
}
#sidebar .directory .directory-list .directory-item .document {
    padding: 2px 0;
}
#sidebar .directory .directory-list .directory-item .thumbnail {
    width: 48px;
    height: 32px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
#sidebar .directory .directory-header .header-search input {
    background: none;
}
#sidebar .folder > .folder-header {
    border: none;
    border-left: 5px solid var(--text-color);
}
#sidebar .document-name {
    line-height: 32px;
}

#sidebar #global-volume {
    order: 1;
}
#sidebar #playlists #currently-playing {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}
#sidebar #playlists #global-volume {
    border: none!important;
}
#sidebar #playlists .global-control .playlist-header {
    border: none!important;
}
#sidebar #playlists .playlist {
    padding: 0 4px;
}

@media (hover: none), (pointer: coarse), (pointer: none), (max-width: 400px) {
    #mrkb-hud {
        display: none!important;
    }
    #sidebar {
        width: 100vw!important;
    }
    #sidebar #chat #selector-opener {
        display: none;
    }
    #sidebar #chat #chat-controls {
    }
    #sidebar #chat #chat-form {
        flex: none!important;
        height: fit-content;
    }
    #sidebar #chat #chat-form #mobile-send {
        display: flex;
    }
    .vtt.spreadsheet #sidebar #chat #chat-form #mobile-send {
        display: none;
    }
    #sidebar #chat #chat-form textarea {
        height: 35px;
        line-height: 19px;
        width: calc(100% - 65px);
        padding: 8px 12px;
        transition: none;
    }
    .vtt.spreadsheet #sidebar #chat #chat-form textarea {
        width: 100%;
        padding: 4px;
    }
    #sidebar #chat #chat-form #mrkb-nameplate {
        width: calc(100% - 65px);
        font-size: 16px;
    }
    #overlay-control {
        display: none;
    }
}