<nav id="inv-folder" data-group="primary">
	{{#each folder}}
		<a class="tab-folder" onclick="tabOpen('{{id}}', 'tab-folder', 'inv-grid')" data-tab="{{id}}">{{name}}</a>
	{{/each}}
	<a class="tab-folder" onclick="tabOpen('etc', 'tab-folder', 'inv-grid')" data-tab="etc">기타</a>
</nav>
{{#each folder}}
	<div class="inv-grid tab" data-tab="{{id}}">
		{{#each item}}
		    <a class="inv-icon" onmouseover="itemDetail('{{id}}', true);" onmouseout="itemDetail('{{id}}', false)" onclick="invUse('{{id}}');">
				<img src="{{img}}">
		    </a>
		{{/each}}
	</div>
{{/each}}
	<div class="inv-grid tab" data-tab="etc">
		{{#each etc}}
			<a class="inv-icon" onmouseover="itemDetail('{{id}}', true);" onmouseout="itemDetail('{{id}}', false)" onclick="invUse('{{id}}');">
				<img src="{{img}}">
			</a>
		{{/each}}
	</div>
    <div id="inv-slot">
        {{#each folder}}
		    {{#each item}}
				<div class="inv-pop" item="{{id}}">
					<img src="{{img}}">
					<h4>{{name}}</h4>
					<div>{{{desc}}}</div>
				</div>
			{{/each}}
		{{/each}}
		{{#each etc}}
		    <div class="inv-pop" item="{{id}}">
		        <img src="{{img}}">
		        <h4>{{name}}</h4>
				<div>{{{desc}}}</div>
		    </div>
		{{/each}}
    </div>