<div id="kakaoheader">
    <img src="modules/mrkb-ui/src/chestnut.png">
    <div id="kakaotitles">
        <h3 id="kakaotitle">카카오톡</h3>
        <h4><i class="fa-solid fa-user"></i> 999</h4>
    </div>
    <div id="kakaoicons">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-phone"></i>
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-bars"></i>
    </div>
</div>
<div id="kakaolog">
    {{{content}}}
</div>
<div id="kakaochat">
    <textarea id="kakaomessage" autofocus="true"></textarea>
    <div id="kakaobottom">
        <div id="kakaobuttons">
            <i class="fa-regular fa-face-smile"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-crop-simple"></i>
        </div>
        <input type="range" id="kakaoopacity" min="1" max="100" value="100">
        <button type="button" id="sendmessage" onclick="sendtalk();">전송</button>
    </div>
</div>