<div id="mrkb-head">
  <div id="mrkb-notification">
    <a onclick="toggleNotify();"><i class="fa-solid fa-bell"></i></a>
    <h3 id="notify">내용</h3>
    <a onclick="toggleNotify();"><i class="fa-solid fa-xmark"></i></a>
  </div>
  <div id="mrkb-boss" class="hidden">
    <progress id="bossbar" value="100" max="100"></progress>
    <div id="bossframe">
      <div id="bossprofile">
        <img id="bossimg" src="">
      </div>
    </div>
    <div id="bosstitle">
      <h3>BOSS</h3>
      <h3 id="bossname">이름</h3>
    </div>
  </div>
</div>

<div id="mrkb-top">
  <div id="top-openers">
    <a id="characon-toggle" onclick="toggleChara();"><i class="fa-solid fa-user"></i></a>
    <div id="right-opener">
      <div id="ui-resrc-open" class="hidden">
        <a id="toggle-resource" onclick="toggleResource();">0</a>
      </div>
      <div id="ui-skill-open" class="hidden">
        <a id="toggle-caster" onclick="toggleCaster();"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
      </div>
      <div id="ui-noti-open" class="hidden">
        <a id="ui-noti-opener" onclick="toggleNotify();"><i class="fa-solid fa-bell"></i></a>
      </div>
    </div>
  </div>
  <div id="character-container" class="alies-container">
    <div id="charaprofile">
      <img id="profilepic" src="">
    </div>
    <div id="namespace">
      <h3 id="profilename"></h3>
    </div>
    <div id="mrkb-health">
      <h4 id="healthnumber">0/0</h4><progress id="healthbar" value="0" max="100"></progress>
    </div>
    <div id="mrkb-mana">
      <h4 id="mananumber">0/0</h4><progress id="manabar" value="0" max="100"></progress>
    </div>
    <div id="mrkb-info">
    </div>
  </div>
  <div id="mrkb-buttons">
    <button class="functionkey open" type="button" onclick="toggleAllies();" id="toggleAllies"><i class="fa-solid fa-people-group"></i></button>
    <button class="functionkey" type="button" onclick="uiSheet();"><i class="fa-solid fa-id-card"></i></button>
    <button class="functionkey" type="button" onclick="uiChange()"><i class="fa-solid fa-arrows-rotate"></i></button>
    <button class="functionkey" type="button" onclick="uiStop()"><i class="fa-solid fa-pause"></i></button>
    <button class="functionkey" type="button" onclick="">4</button>
    <button class="functionkey" type="button" onclick="">5</button>
    <button class="functionkey" type="button" onclick="">6</button>
    <button class="functionkey" type="button" onclick="">7</button>
    <button class="functionkey" type="button" onclick="">8</button>
    <button class="functionkey" type="button" onclick="">9</button>
  </div>
</div>

<div id="mrkb-middle">
  <div id="mrkb-left" class="open">
  </div>
  <div id="mrkb-center">
    <div id="loud-speaker">
    </div>
    <div id="turn-notice" class="hidden">
      <h3>TURN CHANGED</h3>
      <div><img id="turn-img" src=""></div>
      <h3 id="turn-name"></h3>
    </div>
  </div>
  <div id="mrkb-side">
    <div id="phone">
      <div id="phone-top">
        <div id="phone-left"><span id="phone-time">99:99</span><i class="fa-brands fa-line"></i><i class="fa-brands fa-instagram"></i></div>
        <div id="phone-center"><span id="phone-camera">◎</span></div>
        <div id="phone-right"><i class="fa-brands fa-bluetooth-b"></i><i class="fa-solid fa-wifi"></i><i class="fa-solid fa-signal"></i><span id="phone-battery">99%</span><i class="fa-solid fa-battery-full"></i></div>
      </div>
      <div id="phone-body">
      	<div id="phone-home" class="phone-window active">
          <div id="phone-widget">
            <div id="phone-clock"></div>
            <div id="phone-resource"></div>
          </div>
          <div id="phone-apps">
            <a class="phone-app" data-app="kakao">
              <img src="/modules/mrkb-ui/src/kakao.svg">
              <h4>카카오톡</h4>
            </a>
            <a class="phone-app" data-app="caster">
              <img src="/modules/mrkb-ui/src/마법봉.png">
              <h4>캐스터</h4>
            </a>
            <a class="phone-app" data-app="inventory">
              <img src="/modules/mrkb-ui/src/box.png">
              <h4>인벤토리</h4>
            </a>
            <a class="phone-app" data-app="text">
              <img src="/modules/mrkb-ui/src/text.png">
              <h4>특수 텍스트</h4>
            </a>
            <a class="phone-app" data-app="fdv">
              <img src="/modules/mrkb-ui/src/fdv_w.png">
              <h4>로그</h4>
            </a>
            <a class="phone-app" data-app="wiki">
              <img src="/modules/mrkb-ui/src/fdv_wiki.png">
              <h4>위키</h4>
            </a>
          </div>
      	  <div id="phone-dock">
            <a class="dock-app" data-app="call">
              <img src="/modules/mrkb-ui/src/call.png">
            </a>
            <a class="dock-app" data-app="phonebook">
              <img src="/modules/mrkb-ui/src/phone-book.png">
            </a>
            <a class="dock-app" data-app="mail">
              <img src="/modules/mrkb-ui/src/mail.png">
            </a>
            <a class="dock-app" data-app="bell">
              <img src="/modules/mrkb-ui/src/bell.png">
            </a>
            <a class="dock-app" data-app="configuration">
              <img src="/modules/mrkb-ui/src/configuration.png">
            </a>
      	  </div>
      	</div>
      	<iframe id="phone-fdv" class="phone-window" src="https://fdv.kr/logs"></iframe>
      	<iframe id="phone-wiki" class="phone-window" src="https://wiki.fdv.kr"></iframe>
        <div id="phone-kakao" class="phone-window"></div>
        <div id="phone-caster" class="phone-window"></div>
        <div id="phone-inventory" class="phone-window"></div>
        <div id="phone-text" class="phone-window"></div>
      </div>
      <div id="phone-bottom">
        <a onclick="activeApp('home')"><i class="fa-solid fa-bars"></i></a>
        <a onclick="activeApp('home')"><i class="fa-regular fa-square"></i></a>
        <a onclick="activeApp('home')"><i class="fa-solid fa-angle-left"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="mrkb-display">
  <iframe id="display-youtube" class="hidden" src="" frameborder=0 framespacing=0 allow="autoplay"></iframe>
  <iframe id="display-embed" class="hidden" src="" frameborder=0 framespacing=0></iframe>
  <img id="display-image-background" class="hidden" src="">
  <img id="display-image" class="hidden" src="">
  <video id="display-video-background" class="hidden" src="" allow="autoplay" autoplay muted loop></video>
  <video id="display-video" class="hidden" src="" allow="autoplay" autoplay muted loop></video>
  <video id="display-overlay" class="hidden" src="" allow="autoplay" autoplay muted loop></video>
  <video id="display-flash" class="hidden" src="" allow="autoplay" autoplay onended="removeDisplay('flash')"></video>
</div>

<div id="mrkb-allies"></div>

<div id="mrkb-chat" class="hidden">
  <div id="port-container">
    <img id="ui-port" src="">
  </div>
  <h3 id="ui-name"></h3>
  <a id="ui-chat-fold" onclick="uiHideChat();"><i class="fa-solid fa-caret-down"></i></a>
  <div id="chat-container">
    <div id="ui-chat"></div>
  </div>
</div>

<div id="mrkb-openers">
  <a id="ui-chat-open" class="" onclick="uiHideChat();"><i class="fa-solid fa-caret-up"></i></a>
  <a id="ui-bot-open" class="hidden" onclick="hideBotHud();"><i class="fa-solid fa-caret-up"></i></a>
</div>

<div id="mrkb-bottom">
  <div id="mrkb-utils">
    <a class="mrkbmenu" onclick="openSide()"><i class="fa-solid fa-mobile"></i></a>
    <a class="mrkbmenu" onclick="displayOpacity();"><i class="fa-solid fa-circle-half-stroke"></i></a>
    <a class="mrkbmenu" onclick="hideBotHud();"><i class="fa-solid fa-caret-down"></i></a>
  </div>
</div>
